```gitignore
**/.*
**/_*
**/temp
**/out
**/build
**/doxygen
**/logs

!.clang-format
!.vscode


# latex thesis
**/*.acn
**/*.amb
**/*.aux
**/*.bbl
**/*.blg
**/*.glo
**/*.idx
**/*.ist
**/*.loe
**/*.lof
**/*.log
**/*.lot
**/*.out
**/*.synctex.gz
**/*.toc
