pre-commit
pytest
jupyter
sphinx
sphinxcontrib-plantuml
esbonio
sphinx_rtd_theme

pillow
imageio

numpy
scipy
pandas
scikit-learn

matplotlib
seaborn
plotly

tqdm
colorama

torch
torchvision
torchaudio

wheel
pycuda
